<%-include ("./partials/header") -%>
  <%-include ("./companyinfo") -%>
  <%-include("./partials/navbar")-%>
  <%-include ("./jumbotron") -%>
    <div class="row mb-3">
      <div class="col-md-6">
        <%-include ("./about") -%>
      </div>
      <div class="col-md-6">
        <%-include ("./services") -%>
      </div>
    </div>
  <%-include("./quote") -%>
  <div class="row mb-3">
    <div class="col-md-6">
      <%-include("./trailers")-%>
    </div>
    <div class="col-md-6">
      <%-include("./requirements")-%>
    </div>
  </div>
  <%-include ("./contact") -%>
<%-include ("./partials/footer") -%>